@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-color: rgb(13, 106, 134);
  --primary-color-darker: rgb(9, 48, 56)
}

* {
  box-sizing: border-box;
  outline: 0;
  
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', 'sans-serif';
  font-size: 1.3em;
  line-height: 1.5em;
 
  
}

.container {
  max-width: 640px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363)

}

.calculadora {
  width: 400px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
  background-color: rgb(238, 241, 241);
  border-radius: 5px;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  background-color: #ffbd07;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
}

.btn:hover{
  background-color: #fad672;
}